<% provide(:title, "Sobre") %>
<h1>Sobre</h1>
<p>
  O Easy Images é uma aplicação idealizada com o propósito de te ajudar a 
  organizar as suas fotos da maneira mais fácil e intuitiva possível, para
  que você sempre encontre a foto certa sem esforço.
</p>