<% provide(:title, "Contato") %>
<h1>Contato</h1>
<p>
  Você pode entrar em contato com os realizadores através do e-mail institucional
  provido pela <a href = "http://www5.usp.br/">Universidade de São Paulo</a>, ou
  através do github: <a href = "https://github.com/guilhermeeduardoamaral/easyImages">
  Easy Images</a>.
</p>