<div class="center jumbotron">
  <h1>Bem vindo ao <font face = "arial black">EASY IMAGES</font></h1>

  <h2>
    Seu organizador de fotos pessoal, tudo fácil.
  </h2>
  
  <% if !logged_in? %>

  <%= link_to "Cadastre-se agora!", signup_path, class: "btn btn-lg btn-primary" %>
  
  <% end %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>