<h1>Easy Images</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Bem-vindo ao Easy Images! Para ativar a sua conta clique no link abaixo:
</p>

<%= link_to "Ativar", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>