<h1>Troca de Senha</h1>

<p>Para fazer a troca da sua senha, clique no link abaixo:</p>

<%= link_to "Trocar Senha", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>Esse link vai expirar em duas horas.</p>

<p>
Se você não solicitou a troca de senha, ignore este e-mail.
</p>
