<footer class="footer">
  <small>
    Esse site foi criado por estudantes da EACH - USP, para fins exclusivamente
    educacionais.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Sobre",   about_path %></li>
      <li><%= link_to "Contato", contact_path %></li>
    </ul>
  </nav>
</footer>